<!-- Page Header-->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1><%= @user.full_name %></h1>
                    <span class="subheading">Edit profile</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <% if notice %>
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">
                                    <%= notice %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <%= render "form" %>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <h3 class="text-danger">Danger Zone</h3>
                    <h4 class="text-danger">The following actions could not be undone</h4>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                    Delete account
                </button>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <%= form_with url: destroy_user_path(@user), method: :delete do |form| %>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountModalLabel">Are you absolutely sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            This action cannot be undone. This will permanently delete the <i><%= @user.full_name %></i> account.
                            <p>Please type <i>delete</i> to confirm.</p>
                        </div>
                        <div class="col-12">
                            <%= form.text_field :confirm_delete_user, placeholder: "delete", :class => "form-control", :data => { :sb_validations => "required" } %>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Close</button>
                    <button id="delete-account-button" type="submit" class="btn btn-danger text-uppercase" disabled>Delete Account</button>
                </div>
            </div>
        <% end %>
    </div>
</div>

<%= javascript_include_tag "edit-user.js" %>
